<mat-card>
	<form  *ngIf="!loading" (submit)="onAddPost()" [formGroup]= "form" >
		<mat-form-field appearance="outline">
			<mat-label>post title</mat-label>
			<input matInput formControlName = 'title' >
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Your post</mat-label>
			<textarea matInput  formControlName = 'content' ></textarea>
		</mat-form-field>	
		<div>
			<button type="button" mat-stroked-button (click)="fileImg.click()" >Image file</button>
			<input type="file" (change)="onImage($event)" #fileImg>
		</div>
		<div class="img-preview" *ngIf="imagePreview">
			<img [src]="imagePreview" [alt]="form.value.title">
		</div>
		<button  mat-raised-button color="primary" type="submit">Save</button>
	</form>
	<app-loader *ngIf="loading"></app-loader>
</mat-card>

