<mat-card>
	<form (submit)="onAddPost(postForm)" #postForm="ngForm">
		<mat-form-field appearance="outline">
			<mat-label>post title</mat-label>
			<input matInput ngModel name = 'title' required>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Your post</mat-label>
			<textarea matInput ngModel name = 'content' required></textarea>
		</mat-form-field>	
		<button [disabled]="postForm.invalid" mat-raised-button color="primary" type="submit">Save</button>
	</form>
</mat-card>
